* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

body.darkMode {
    background: black;
}

body::after {
    content: "";
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    border-radius: 0 0 85% 85% / 30%;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

body.darkMode::after {
    content: "";
    background: linear-gradient(to right, #141e30, #243b55);
}

.title {
    text-align: center;
    height: 10%;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #333;
    color: white;
}

body.darkMode .title {
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.set1, .set2, .set3 {
    margin: 2rem;
}

button {
    width: 20rem;
    height: 5rem;
    border-radius: 3rem;
    margin: 1rem 0;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding: 0 2rem;
    transition: all 0.2s;
    outline: none;
    position: relative;
    top: 2rem;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 1px #333;
}

button:active {
    top: 2.5rem;
}

.blue {
    background-color: #434e9a;
    box-shadow: 0 15px 0 0 #2b3667, 0 0 20px 0 #bbb;
}

body.darkMode .blue {
    box-shadow: 0 15px 0 0 #2b3667, 0 0 20px 0 #363636;
}

.blue:active {
    box-shadow: 0 7px 0 0 #2b3667;
}

.green {
    background-color: green;
    box-shadow: 0 15px 0 0 #006200, 0 0 20px 0 #bbb;
}

body.darkMode .green {
    box-shadow: 0 15px 0 0 #006200, 0 0 20px 0 #363636;
}

.green:active {
    box-shadow: 0 7px 0 0 #006200;
}

.red {
    background-color: #ff3f2b;
    box-shadow: 0 15px 0 0 #8f2318, 0 0 20px 0 #bbb;
}

body.darkMode .red {
    box-shadow: 0 15px 0 0 #8f2318, 0 0 20px 0 #363636;
}

.red:active {
    box-shadow: 0 7px 0 0 #860000;
}

.purple {
    background-color: purple;
    box-shadow: 0 15px 0 0 #510051, 0 0 20px 0 #bbb;

}

body.darkMode .purple {
    box-shadow: 0 15px 0 0 #510051, 0 0 20px 0 #363636;
}

.purple:active {
    box-shadow: 0 7px 0 0 #510051;
}

.maroon {
    background-color: maroon;
    box-shadow: 0 15px 0 0 #500000, 0 0 20px 0 #bbb;
}

body.darkMode .maroon {
    box-shadow: 0 15px 0 0 #500000, 0 0 20px 0 #363636;
}

.maroon:active {
     box-shadow: 0 7px 0 0 #500000;
 }

.yellow {
    background-color: gold;
    box-shadow: 0 15px 0 0 #998100, 0 0 20px 0 #bbb;
}

body.darkMode .yellow {
    box-shadow: 0 15px 0 0 #998100, 0 0 20px 0 #363636;
}

.yellow:active {
    box-shadow: 0 7px 0 0 #998100;
}

.orange {
    background-color: coral;
    box-shadow: 0 15px 0 0 #8d462c, 0 0 20px 0 #bbb;
}

body.darkMode .orange {
    box-shadow: 0 15px 0 0 #8d462c, 0 0 20px 0 #363636;
}

.orange:active {
    box-shadow: 0 7px 0 0 #8d462c;
}

.pink {
    background-color: pink;
    box-shadow: 0 15px 0 0 #99757b, 0 0 20px 0 #bbb;
}

body.darkMode .pink {
    box-shadow: 0 15px 0 0 #99757b, 0 0 20px 0 #363636;
}

.pink:active {
    box-shadow: 0 7px 0 0 #99757b;
}

.olive {
    background-color: olive;
    box-shadow: 0 15px 0 0 #515100, 0 0 20px 0 #bbb;
}

body.darkMode .olive {
    box-shadow: 0 15px 0 0 #515100, 0 0 20px 0 #363636;
}

.olive:active {
    box-shadow: 0 7px 0 0 #515100;
}

.progress-bar {
    background-color: #cac9c9;
    height: 3rem;
    width: 90%;
    border: 0.1rem solid #cac9c9;
    position: relative;
    border-radius: 2rem;
    padding: 0.8rem;
    margin: 17rem auto 2rem;
}

body.darkMode .progress-bar {
    background-color: #343434;
    border: 0.1rem solid #413d3d;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    width: 0;
    transition: all 1s;
    color: white;
    text-align: right;
    text-shadow: 1px 1px 1px black;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    border-radius: 1.2rem 0.5rem 0.5rem 1.2rem ;
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
}

.progress-bar h2 {
    position: absolute;
    bottom: 0;
    left: -4rem;
    font-weight: 300;
    text-shadow: 1px 1px 1px black;
    font-family: 'Dancing Script', cursive;
    color: #000000;
}

body.darkMode h2 {
    color: #FFF;
}

.modeBar {
    padding: 1rem 3rem;
    display: flex;
}

.mode {
    display: flex;
    position: relative;
    height: 3rem;
    width: 7rem;
    background: #d0cccd;
    border-radius: 2rem;
    transition: all 500ms;
}

body.darkMode .mode {
    background: #323131;
}

input[type='radio'] {
    margin: 1rem 1.5rem;
    visibility: hidden;
}

label {
    margin: 0.7rem 0.5rem;
    position: relative;
    font-size: 1rem;
    z-index: 3;
    cursor: pointer;
    transition: 500ms;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

label[for='lightmode'] {
    color: #ffe95c;
    text-shadow: 2px 2px 2px #000000;
}

label[for='darkmode'] {
    color: #1f2269;
}

body.darkMode label[for='darkmode'] {
    color: white;
    text-shadow: 2px 2px 2px #1f2269;
}

.choose {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: white;
    top: 0.5rem;
    left: 0.4rem;
    border-radius: 500px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    z-index: 4;
}

body.darkMode .choose {
    background-color: black;
}

@media only screen and (max-width: 768px) {
    body {
        overflow: auto;
    }

    body::after {
        height: 90%;
        border-radius: 0 0 150% 150% / 20%;
    }

    label {
        font-size: 0.8rem;
        margin: 0.7rem auto;
    }

    .title {
        margin: 1rem;
        font-size: 1.5rem;
    }

    .buttons {
        flex-wrap: wrap;
    }

    button {
        border: 0.1rem solid black;
        border-radius: 0.5rem;
        width: 9rem;
        height: 3rem;
        font-size: 1rem;
        margin: 1rem;
    }

    .set1, .set2, .set3 {
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .progress-bar {
        margin: 10rem auto 2rem;
    }

    .progress-bar h2 {
        position: absolute;
        bottom: 4rem;
        left: 45%;
    }
}