* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Quicksand', sans-serif;
}

body::after {
    content: "";
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.bars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar1, .bar2, .bar3 {
    margin: 2rem;
}

button {
    width: 20rem;
    height: 5rem;
    border-radius: 3rem;
    margin: 1rem 0;
    border: none;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    padding: 0 2rem;
    text-shadow: 1px 1px 1px black;
    transition: all 0.2s;
    outline: none;
    position: relative;
    top: 2rem;
    cursor: pointer;
}

button:active {
    top: 2.5rem;
}

.blue {
    background-color: #434e9a;
    box-shadow: 0 15px 0 0 #2b3667, 0 0 20px 0 #bbb;
}

.blue:active {
    box-shadow: 0 7px 0 0 #2b3667;
}

.green {
    background-color: green;
    box-shadow: 0 15px 0 0 #006200, 0 0 20px 0 #bbb;
}

.green:active {
    box-shadow: 0 7px 0 0 #006200;
}

.red {
    background-color: #ff3f2b;
    box-shadow: 0 15px 0 0 #8f2318, 0 0 20px 0 #bbb;
}

.red:active {
    box-shadow: 0 7px 0 0 #860000;
}

.purple {
    background-color: purple;
    box-shadow: 0 15px 0 0 #510051, 0 0 20px 0 #bbb;

}

.purple:active {
    box-shadow: 0 7px 0 0 #510051;
}

.maroon {
    background-color: maroon;
    box-shadow: 0 15px 0 0 #500000, 0 0 20px 0 #bbb;
}

.maroon:active {
     box-shadow: 0 7px 0 0 #500000;
 }

.yellow {
    background-color: gold;
    box-shadow: 0 15px 0 0 #998100, 0 0 20px 0 #bbb;
}

.yellow:active {
    box-shadow: 0 7px 0 0 #998100;
}

.orange {
    background-color: coral;
    box-shadow: 0 15px 0 0 #8d462c, 0 0 20px 0 #bbb;
}

.orange:active {
    box-shadow: 0 7px 0 0 #8d462c;
}

.pink {
    background-color: pink;
    box-shadow: 0 15px 0 0 #99757b, 0 0 20px 0 #bbb;
}

.pink:active {
    box-shadow: 0 7px 0 0 #99757b;
}

.olive {
    background-color: olive;
    box-shadow: 0 15px 0 0 #515100, 0 0 20px 0 #bbb;
}

.olive:active {
    box-shadow: 0 7px 0 0 #515100;
}

.progress-bar {
    background-color: #1a1a1a;
    height: 3rem;
    width: 90%;
    margin: 5rem auto;
    border-radius: 3rem;
    border: 0.1rem solid #363636;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    width: 0;
    border-radius: 3rem;
    transition: all 1s;
    padding: 1rem;
    color: white;
    text-align: right;
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
}

.modeBar {
    padding: 1rem 3rem;
    display: flex;
}

.mode {
    display: flex;
    position: relative;
    height: 3rem;
    width: 7rem;
    background: #d0cccd;
    border-radius: 2rem;
    transition: all 500ms;
}

input[type='radio'] {
    margin: 1rem 1.5rem;
    visibility: hidden;
}

label {
    margin: 0.7rem 0.5rem;
    position: relative;
    font-size: 1rem;
    z-index: 3;
    font-weight: bold;
    cursor: pointer;
    transition: 500ms;
}

label[for='lightmode'] {
    color: #ffe95c;
    text-shadow: 2px 2px 2px #000000;
}

label[for='darkmode'] {
    color: #1f2269;
}

.choose {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: white;
    top: 0.5rem;
    left: 0.4rem;
    border-radius: 500px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    z-index: 4;
}